.emailList{
    flex:1;
    overflow: scroll;
    margin-left: 50px;
}

.emailList__settings{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

}

.emailList__sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
}

